

  <div id="header">
    <nav class="navbar navbar-default">
                    <div class="container">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="././assets/images/logo.png" class="img-responsive"></a>
                      </div>

                      <ul class="nav navbar-nav navbar-right">
                        <li><div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img src="././assets/images/profile.png">Lily Lee
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div></li>

                      </ul>
                    </div>
                  </nav>

  </div>
