<!-- <div id="side-list">
  <div class="container">
    <div class="row"> -->
      <div class="col-md-3" id="side-list">
        <ul class="list-group">
          <li><a routerLink="#">Dashboard</a> </li>
          <li class="active"><a routerLink="/list">School</a> </li>
          <li> <a href="#">Mentor</a> </li>
          <li> <a href="#">Group</a> </li>
          <li> <a href="#">Student</a> </li>
          <li> <a href="#">Report</a> </li>
          <li> <a href="#">Indicators</a> </li>
          <li> <a href="#">Contact</a> </li>
          <li> <a href="#">Help</a> </li>
        </ul>
      </div>
    <!-- </div>
  </div>
</div> -->
